{% extends "base.html" %}
{% block title %}Autor{% endblock %}

{% block content %}
<div class="card shadow-sm">
  <div class="card-header d-flex justify-content-between">
    <span>Detalle de autor</span>
    <a class="btn btn-sm btn-primary" href="{% url 'autor_editar' obj.pk %}">Editar</a>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-3"><dt>Carne</dt></div><div class="col-sm-9">{{ obj.carne }}</div>
      <div class="col-sm-3"><dt>Nombres</dt></div><div class="col-sm-9">{{ obj.nombres }}</div>
      <div class="col-sm-3"><dt>Apellidos</dt></div><div class="col-sm-9">{{ obj.apellidos }}</div>
      <div class="col-sm-3"><dt>Email</dt></div><div class="col-sm-9">{{ obj.email }}</div>
    </div>
  </div>
  <div class="card-footer bg-white">
    <a href="{% url 'autores_lista' %}" class="btn btn-outline-secondary">Volver</a>
  </div>
</div>
{% endblock %}
