{% extends "base.html" %}
{% block title %}{{ is_edit|yesno:"Editar autorizador,Nuevo autorizador" }}{% endblock %}

{% block content %}
<h2 class="mb-3">{{ is_edit|yesno:"Editar autorizador,Nuevo autorizador" }}</h2>

<div class="card shadow-sm">
  <div class="card-body">
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <div class="mt-3">
        <button class="btn btn-success" type="submit">Guardar</button>
        <a class="btn btn-outline-secondary" href="{% url 'autorizadores_lista' %}">Cancelar</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
